<% content_for :title, "Editing student" %>

<div class="resource-page">
  <div class="page-header">
    <div>
      <h1>Edit Student</h1>
      <p>Update the student information below.</p>
    </div>
  </div>

  <%= render "form", student: @student %>
</div>
