<% content_for :title, "New Student" %>

<div class="resource-page">
  <div class="page-header">
    <div>
      <h1>New Student</h1>
      <p>Create a student profile and enroll them.</p>
    </div>
  </div>

  <%= render "form", student: @student %>
</div>
