<div id="<%= dom_id section %>">
  <p>
    <strong>Course:</strong>
    <%= section.course.prefix.name %> <%= section.course.number %>
  </p>
  <p>
    <strong>Section Number:</strong>
    <%= section.section_number %>
  </p>
</div>
