<% content_for :title, "Editing Section" %>

<div class="resource-page">
  <div class="page-header">
    <div>
      <h1>Edit Section</h1>
      <p>Update the section details below.</p>
    </div>
  </div>

  <%= render "form", section: @section %>
</div>
