<% content_for :title, "New section" %>

<div class="resource-page">
  <div class="page-header">
    <div>
      <h1>New Section</h1>
      <p>Create a section and assign students.</p>
    </div>
  </div>

  <%= render "form", section: @section %>
</div>
