<% content_for :title, "Editing prefix" %>

<div class="resource-page">
  <div class="page-header">
    <div>
      <h1>Edit Prefix</h1>
      <p>Update this prefix here.</p>
    </div>
  </div>

  <%= render "form", prefix: @prefix %>
</div>
