<% content_for :title, "New prefix" %>

<div class="resource-page">
  <div class="page-header">
    <div>
      <h1>New Prefix</h1>
      <p>Create a new course prefix.</p>
    </div>
  </div>

  <%= render "form", prefix: @prefix %>
</div>
