<style>

    body {
        background-image: url('<%= image_url "Aerospace_Bldg.jpg" %>');
        background-size: cover; 
        background-attachment: fixed; 
        background-repeat: no-repeat;
        background-color: #121212; 
        color: white; 
    }
</style>

<h1>Course Manager Home Page</h1>
