<div id="<%= dom_id course %>">
  <p>
    <strong>Prefix:</strong>
    <%= course.prefix.name %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= course.number %>
  </p>

  <p>
    <strong>Syllabus:</strong>
    <%= course.syllabus %>
  </p>

</div>
