<% content_for :title, "Editing course" %>

<div class="resource-page">
  <div class="page-header">
    <div>
      <h1>Edit Course</h1>
      <p>Update the course details below.</p>
    </div>
  </div>

  <%= render "form", course: @course %>
</div>
