<% content_for :title, "New course" %>

<div class="resource-page">
  <div class="page-header">
    <div>
      <h1>New Course</h1>
      <p>Add a new course to the catalog.</p>
    </div>
  </div>

  <%= render "form", course: @course %>
</div>
